@import "tailwindcss";

/* Hide vertical scrollbar visually for WebKit browsers */
/* WebKit browsers (Chrome, Safari, Edge Chromium) */
::-webkit-scrollbar {
  width: 6px;      /* Thin vertical scrollbar */
  height: 6px;     /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
html, body, * {
  scrollbar-width: thin;            /* Thin scrollbar */
  scrollbar-color: #999 transparent;
}

