@import "tailwindcss";

/* custom-scroll.css */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #bae6fd; /* Tailwind's bg-sky-200 */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0284c7; /* Tailwind sky-600 */
  border-radius: 6px;
  border: 2px solid #bae6fd;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0284c7 #bae6fd;
}
